JIRA_HOST=https://jira.corp.adobe.com
JIRA_USERNAME=<Jira-username>
JIRA_PASSWORD=<Jira-password>
JIRA_API_VERSION=2
JIRA_STRICT_SSL=true
EMAIL_USER=<Email-user>
EMAIL_PASS=<Email-password>
SMTP_SERVER=authrelay.corp.adobe.com
SMTP_PORT=587
SENDER_EMAIL=<sender-email-id>
SENDER_NAME="AEM Forms Documentation Team"
smtp_username=<sender-email-username>
EMAIL_PASSWORD=<sender-password>
USE_SSL=false

# Feature Flags
ENABLE_DAILY_SPRINT_UPDATE=true
Doc_Email1=<doc-email1>
Doc_Email2=<doc-email1>
Doc_Email3=<doc-email1>
CC_EMAIL=a<doc-email1>

AD_USER=<Jira-username>
AD_PASSWORD=<Jira-password>


